@font-face {
	font-family: "Quantico";
	font-style: italic;
	font-weight: bold;
	src: url("_used font/Quantico/Quantico-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Quantico";
	font-weight: bold;
	src: url("_used font/Quantico/Quantico-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Quantico";
	src: url("_used font/Quantico/Quantico-Regular.ttf") format("truetype");
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  font-family: "Quantico";
}

html {
    overflow-x:hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


header {
    background-color: #4e1ba8;
    width: 100%;
    height: 8.25em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
  position: absolute;
}

#logo {
    top:0.5em;
  margin-left: 7.5em;

}

nav{
    margin-top:15px;
    position: relative;
    top: 2.5em;
    left: -7.1em;

}

nav ul
{
    list-style:none;
    position:relative;
    float:right;
    margin:0;
    padding:0
}

nav ul a
{
    display:block;
    color:white;
    text-decoration:none;
    font-size:1.3em;
    padding:0 20px;
}

nav ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

nav ul li a:hover
{
    color: #ee4c73
}

nav ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color: #ee4c73;
    padding:0;
    border-radius: 10px;
}

nav ul ul li
{
    float:none;
    width:160px;
}
nav ul ul a
{
    font-size: 1em;
    color: black;
    border-top:1px solid #be3b5b;
    line-height:120%;
    padding:10px 15px;
}

nav ul ul a:hover{
    color: white;
    background-color: #ff6f93;
}
nav ul ul a:first-of-type {
    border-top-style: none;
}

nav ul ul a:first-of-type:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav ul ul li a:last-of-type:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

nav ul li:hover > ul
{
    display:block
}

.arrow-up {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ee4c73;
    position: absolute;
    right: 8em;
    top:-0.5em;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    background-color: #f0eef3;
}

.maintext {
    width: 61%;
    color:#0c1127;
    border: 1px ridge #d2ccda;
    background-color: white;
    margin: 2.5em 0;
}
.maintext p {
    margin: 1.25em;
    }
.maintext h1 {
    margin-left: 0.66em;
}
.sidebar {
    width: 22%;
    padding-left: 1.25em;
    text-align: center;
    color:#0c1127;
    display: flex;
    flex-direction: column;
    margin: 2.5em 0;
}

.sidebar p {
    padding-left: 0.625em;
    width:100%;
}

form {
    color:#ee4c73;
    border:1px solid #ee4c73;
    border-radius: 7px;
    padding-left: 0.625em;
    width: 100%;
    margin: auto;
    text-align: left;
    height: 63%;
}

input {
    width: 95%;
}

form div {
    padding: 0.625em;
}

textarea {
    border-radius: 7px;
    border: 1px solid #d2ccda;
    width: 95%;
    height: 7em;
}

textarea:placeholder-shown {
    padding: 5px;
}

#button {
    color: white;
    background-color: #ee4c73;
    width: 90%;
    font-size: 1.5em;
    height: 2em;
    border-radius: 7px;
    margin: auto;
    position: relative;
    left: 0.5em;
    border:none !important;
}
.botomtext {
    color:#0c1127;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: auto;
    background: -moz-linear-gradient(left, #f0eef3, #d8d6db, #f0eef3);
}
.botomtext p {
    position: relative;
    margin:auto;
    padding: 0.625em;
    width:26%;

}

.footer {
    color:#50555b;
    background-color: #a4a2a7;
    padding: 0.625em;
    width: 100%;
    margin-top: 2.5em;
    display: none;
    }

.footer ul {
    display: inline-flex;
    padding:0.625em 2.5em;
    list-style: none;
}

.footer ul li a::before{
    content: "•";
    padding:0.625em;
}

.footer ul li a{
    color:white;
    padding:0.625em;
    text-decoration: none;
}

.footer p {
    padding: 0 3.125em;
}


@media screen and (max-width: 800px) {

    #logo {
        height: 5em;
        width: 13.5em;
        top: 1.25em !important;
        margin-left: 1.875em !important;
    }

    .sidebar {
        margin: 0.625em;
        width: 80% !important;
    }

    .botomtext {
        display: flex !important;
        flex-direction: column !important;
        padding: 0.625em !important;
    }

    .botomtext p {
        display: block !important;
        min-width: 90%;

    }

    .maintext {
        min-width: 90%;
    }

    .main {
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-left: 3.125em !important;
    }

    .footer ul {
        display: block;
    }

    textarea {
        width: 95%;
    }

    form {
        height: 80%;
    }

        #nav
        {
            position: absolute;
            display: block !important;
            left: 0.5em;
            top: 4.5em;
                    }
        #nav > a
        {   color: white;
            text-decoration: none;
        }
        #nav:not( :target ) > a:first-of-type,
        #nav:target > a:last-of-type
        {
            display: block;
        }

        /* first level */

        #nav > ul
        {
            height: auto;
            display: none;
            position: absolute;


        }
        #nav:target > ul
        {
            display: block;
        }
        #nav > ul > li
        {
            width: 100%;
            float: none;
        }
        #nav > ul > li >a {
            color: #0c1127;
        }
        /* second level */

        #nav li ul
        {
            position: relative;
        }
    }




